@using WebApp.Entities.ViewModel;
@using WebApp.Service.Helper;
@model List<CourseListViewModel>


<div class="d-flex justify-content-between px-4">
    <h2 class="mb-2 text-center color-blue">Enrolled Courses</h2>
    <button class="btn btn-fill" onclick="back();">Back</button>
</div>
<div class="row p-4">
    <div class="py-3 table-responsive">
        <table id="courseTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>
                        <label class="custom-control-label ms-4">Name</label>
                    </th>
                    <th><label class="custom-control-label">Department Name</label> </th>
                    <th class="text-center">Credit</th>
                    <th class="text-end pe-5 me-5">Action</th>
                </tr>
            </thead>

            <tbody class="table-body-style">
                @foreach (var course in Model)
                {
                    <tr>
                        <td>@course.Id</td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <label class="custom-control-label ms-4">
                                    <span>@course.CourseName</span>
                                </label>
                            </div>
                        </td>
                        <td>@course.DepartmentName</td>
                        <td class="text-center">@course.Credit</td>
                        <td class="text-end">
                            <button class="btn btn-fill" id="view-@course.Id" data-bs-target="#completeCourse"
                                data-bs-toggle="modal" onclick="completeCourse(@course.Id);">Mark as Completed</button>
                        </td>
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="6" class="text-center text-danger">
                            No Courses Available
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
